.container {
    position: relative;
    margin: 0 auto;
    width: 994px;
    margin-top: 22px;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.selector{
	margin: 7px 0;
    overflow: hidden;
}
.item :after{
	display: table;
    line-height: 0;
    content: "";
    clear: both;
}
.item_left{
	float: left;
    margin-top: 12px;
    padding-left: 12px;
    width: 80px;
    border-right: 1px solid #ccc;
    font-size: 14px;
    color: #666;
}
.item_left p{
	color: #666;
    font-size: 14px;
}
.item_right{
	position: relative;
    margin: 0 10px 0 97px;
    padding: 10px 0 4px;
    border-top: 1px dashed #ccc;
}
.item_right ul{
	margin-right: 70px;
    height: 31px;
    overflow: hidden;
    margin-bottom: 0;
}
.item_right ul li{
	float: left;
    padding-bottom: 6px;
    list-style: none;
}
.item_right ul li a{
	display: inline-block;
    padding: 2px 15px;
    color: #333;
}
.item_right .selected{
	background-color: #ff5f69;
    color: #fff !important;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    cursor: default;
}
.item_right .more{
	position: absolute;
    top: 12px;
    right: 0;
    padding: 0 10px;
    font-size: 14px;
    color: #ff5f69;
    cursor: pointer;
}
.box{
	margin-top: 10px;
}
.box .list{
	position: relative;
    float: left;
    margin: 30px 0 0 26px;
    background-color: #fff;
    overflow: hidden;
    width: 314px;
    box-shadow: 0 1px 0 rgba(153, 153, 153, 0.5);
}
.box .list .abg{
	position: absolute;
    top: 198px;
    right: 8px;
    z-index: 2;
    padding: 4px;
    width: 58px;
    height: 58px;
    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    border-radius: 58px;
    background-color: #fff;
    border: 0 !important;
}

.containerr {
    position: relative;
    margin: 0 auto;
    width: 994px;
}





